.label {
    display: flex;
    flex-direction: column;
    max-width: 105px;
    flex-basis: 70px;
    flex-grow: 1;
    align-items: center;
    gap: 8px;
    text-align: center;
    cursor: pointer;
}

.remove {
    filter: grayscale(1);
    color: var(--remove-color);
    background: url('/cross_circle.svg') no-repeat calc(100% - 8px) 8px;
}

.done {
    background: url('/done.svg') no-repeat calc(100% - 8px) 8px;
}

.done .food {
    border-color: var(--primary-color-button);
}

.food {
    display: flex;
    position: relative;
    width: 100%;
    height: 105px;
    border-radius: 12px;
    border: 1px solid var(--outline-color);
}
  
.food img {
    margin: auto;
}

.checkbox {
    display: none;
}

.price {
    margin-top: auto;
}