.image {
  align-self: center;
}

.console {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  overflow: auto;
  padding-right: inherit;

  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.console::-webkit-scrollbar {
  width: 8px;
}

.console::-webkit-scrollbar-track {
  background-color: gainsboro;
}

.console::-webkit-scrollbar-thumb {
  background-color: #969696;
}

.title {
  color: var(--text-general);
  font-size: var(--title-medium-size);
  font-weight: bold;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
