.wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 420px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 12px 20px;
  gap: 20px;
}

.overflow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--popup-overlay);
}

.top {
  display: flex;
  align-items: center;
}

.title {
  color: var(--text-general);
  font-size: var(--large-size);
  flex-grow: 1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  padding: 0 1rem 0 0;

  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: gainsboro;
}

.list::-webkit-scrollbar-thumb {
  background-color: #969696;
}

.item {
  display: flex;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  gap: 16px;
  flex-shrink: 0;
}

.image img {
  width: 94px;
  height: 94px;
}

.name {
  font-weight: bold;
  font-size: var(--medium-size);
}

.description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: center;
  gap: 8px;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.detail {
  flex-grow: 1;
}

.order {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 40px;
}

.bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
