.body {
  background: #fff;
  border-bottom: 1px solid var(--outline-color);
  padding: 11px 0 12px;
}

.sticky {
  position: sticky;
  top: 0;
}

.logotype {
  display: flex;
}

.block {
  display: flex;
}

.block button:not(:last-child),
.block div:not(:last-child) {
  margin-right: 40px;
}

.wrapper {
  width: var(--desktop-width);
  display: flex;
  justify-content: space-between;
  margin: auto;
}
