.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 24px;
}

.title {
  color: var(--text-general);
  font-size: var(--title-size);
  font-weight: bold;
  line-height: 48px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 0 36px;
}