.total {
  align-self: center;
  color: #ff7010;
  font-weight: bold;
  font-size: var(--medium-size);
}

.medium {
  font-size: var(--title-medium-size);
}

.small {
  font-size: 1rem;
}

.total:after {
  content: " ₽";
}
