:root {
  /* Примерно 32px */
  --large-size: 2.3rem;

  /* Примерно 20px */
  --title-medium-size: 1.45rem;
  
  /* Примерно 18px */
  --medium-size: 1.29rem;
  
  /* Примерно 16px */
  --ore-size: 1.15rem;
  --title-size: 2.85rem;

  --text-general: #191919;
  --outline-color: #F0F0F0;
  --primary-color-button: #FF7010;
  --desktop-width: min(1274px, 100%);

  --popup-overlay: hsla(0, 0%, 10%, 0.400);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {list-style: none;}
a {text-decoration: none;}
button, input {background: none; border: none; outline: none;}
html {
  font-size: 14px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F9F9F9;
}

#root.openPopup {
  filter: blur(6px);
}

#root.openPopup:before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--popup-overlay);
  z-index: 11;
}